form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* align-items: center; */
  justify-content: center;

  .btn-box {
    text-align: center;
  }
}

.signup-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .signup-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}
