<mat-accordion multi *ngIf="posts">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
      {{ post.content }}
    </div>
    <mat-action-row>
      <button mat-flat-button color="primary">EDIT</button>
      <button mat-flat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="!posts.length" style="text-align: center">
  <mat-card-content class="">No posts added yet!</mat-card-content>
</mat-card>
