<mat-toolbar color="primary">
  <span routerLink="/" style="cursor: pointer">Demo MEAN Stack App</span>

  <div class="links">
    <button
      mat-flat-button
      [routerLink]="['/list-post']"
      routerLinkActive="mat-accent"
      color="primary"
    >
      <!-- <mat-icon>list</mat-icon>  -->
      <!-- <mat-icon> list_alt</mat-icon> -->
      <mat-icon> format_list_bulleted</mat-icon>
      List Posts
    </button>
    <button
      mat-flat-button
      [routerLink]="['/create-post']"
      routerLinkActive="mat-accent"
      color="primary"
    >
      <mat-icon>library_add</mat-icon> New Post
    </button>
  </div>
</mat-toolbar>
